                          /* Barra de navegación */
.navbar {
  padding: 1rem;
  background-color: #12162B;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* ######################################################################### */

                          /* Estilos generales. */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 5px; */
}

h1 {
  font-size: 2.5rem;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.seccion-oscura {
  color: white;
  background-color: #12162B
}

.seccion-clara {
  color: black;
  background-color: #FFFFFF;
}

.seccion-titulo {
  font-size: 2.5rem;
  padding: 15px 0;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: center;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  color: #FFFFFF;
  font-size: 1.1rem;
  margin: 20px;
  background-color: #005BAA !important;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* ######################################################################### */

                        /* Sección Hero. */
.hero {
  background-color: #FFFFFF;
  min-height: 450px;
  text-align: center;
}


.hero-principal {
  padding: 3rem;
}

.hero-imagen-perfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* ######################################################################### */

                        /* Sección sobre mí. */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 1000px;
  text-align: center;
}

/* ######################################################################### */

                        /* Sección de experiencia. */
.experiencia {
  padding: 40px 40px 40px 40px;
  text-align: center;
}

.experiencia i {
  font-size: 2.5rem;
  color: white;
  background-color: #005BAA;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.1s ease-in;
}

.experiencia .columna:hover {
  color: #FFFFFF;
  background-color: #12162B;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  font-family: "Oswald", Arial, Helvetica, sans-serif; 
}


.badges-contenedor {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 3px;
  background-color: #005BAA !important;
}

/* ######################################################################### */

                        /* Sección de proyectos */

.proyectos-recientes {
  padding: 0;

}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display:block;
  transition: all 0.2s ease;
  text-align: center;
}

.proyectos-recientes .carousel {
  max-width: 1200px;
  width: 1200px;
}

.carousel-item {
  height: 600px;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
  
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size:  25px;
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

.overlay .iconos-contenedor {
  display: flex;
  align-items: center;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}


.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity:  0.6;
}

.proyecto:hover .overlay {
  opacity: 1;
}

/* ######################################################################### */



.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.3rem;
  padding: 20px;
  margin-bottom: 30px;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #FFFFFF;
  border: 2px solid #005BAA;
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* ######################################################################### */

                            /* Agrego media queries. */
@media screen and (max-width: 435px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .hero-inferior-imagen {
    max-width: 650px;
  }
}

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }

  .proyectos-recientes .carousel {
    max-width: 345px;
  }

  .carousel-item {
    height: 200px;
  }
}